<section id="showcase">
  
  <div class="showcase-content">
    <h1 class="l-heading">
      The Sky Is The Limit
    </h1>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae voluptatibus debitis praesentium inventore, eum deserunt.
    </p>
    <div class="search-spots row">
      <div class="md-3 pr-5">
        <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Keyword" />
      </div>
      <div class="md-3 pr-5">
        <select id="category" name="category" class="form-control">
          <option value="0">Category</option>
          <option value="1">Football</option>
          <option value="2">Basketball</option>
          <option value="3">Tennis</option>
        </select>
      </div>
      <div class="md-3 pr-5">
        <select id="city" name="city" class="form-control">
          <option value="0">City</option>
          <option value="1">Zurich</option>
          <option value="2">Geneve</option>
          <option value="3">Basel</option>
        </select>
      </div>
      <div class="md-3">
        <button type="button" class="btn-red">Find Spots</button>
      </div>

    </div>

  </div>
</section>


<section id="categories">
  <h3>Spot Finder categories</h3>
  <div>

  </div>
</section>

